*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 35%;
    box-shadow: gray 5px 5px 5px 5px;
}

.somar{
    box-shadow: goldenrod 5px 5px 5px 5px;
}

.subtrair{
    box-shadow: cornflowerblue 5px 5px 5px 5px;
}

.multiplicar{
    box-shadow: coral 5px 5px 5px 5px;
}

.dividir{
    box-shadow: palevioletred 5px 5px 5px 5px;
}



h1{
    margin-bottom: 15px;
}

.formulario{
    gap: 20px;
    padding: 20px;
}

div{
    display: flex;
    flex-direction: column;
}

input{
    height: 27px;
}

.button {
    display: flex;
    width: 50%;
    gap: 15px;
    position: relative;
    left: 70px;
    
}